*{
    margin: 0;
    outline: 0;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.body{
    background-image: url("../img/dice.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.gameover {
    background-image: url("../img/gameover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.hearts{
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #e61938;
    font-size: 32px;
}
.userForm{
    text-align: center;
    margin: 15px;
}
.guess{
    margin: 30px;
    background: none;
    border: none;
    outline: none;
    width: 260px;
    max-width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 4px 10px 20px rgb(78, 75, 75);
    color: #fff;
    
}
.submit{
    background-color: greenyellow;
    border-radius: 10px;
    margin-top: 5px;
    width: 100px;
    height: 30px;
}
#text {
    background-color: #fff;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    color: rgb(228, 25, 25);
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto; 
}
.newButton{
    background-color: rgb(239, 243, 9);
    border-radius: 10px;
    margin-top: 5px;
    width: 100px;
    height: 30px;
}
#buttonContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100vw;
}