body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f1624;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #1a2338;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.search-container {
    flex-grow: 1;
    padding: 0 1rem;
}

.search-container input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
}

.favorites {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 25%;
    background-color: #1a2338;
    overflow-y: auto;
}

.character-list {
    padding: 1rem;
}

.character-item {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.character-item:hover,
.character-item.selected {
    background-color: #273347;
}

.character-item img {
    border-radius: 50%;
    margin-right: 0.5rem;
    width: 50px;
    height: 50px;
}

.character-info h2 {
    margin: 0;
    font-size: 1rem;
}

.character-info p {
    margin: 0;
    font-size: 0.8rem;
    color: #9fa6b2;
}

.status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4caf50;
    margin-right: 0.3rem;
}

.details {
    flex-grow: 1;
    padding: 1rem;
}

.character-details {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.character-details img {
    width: 150px;
    height: auto;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.character-meta p {
    margin: 0.3rem 0;
}

.episodes h3 {
    margin-top: 0;
    font-size: 1.2rem;
}

.episodes ul {
    list-style-type: none;
    padding: 0;
}

.episodes li {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.episodes strong {
    color: #ffffff;
}
button#add-to-fav {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease; 
}

button#add-to-fav:hover {
    background-color: #45a049;
}
button#remove-from-fav {
    background-color: #fc0202;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease; 
}

button#remove-from-fav:hover {
    background-color: #c12c2c;
}